/* variables */
:root{
  --primary: #FFC636;
  --secondary: #0A0B5B;
}

/* AMN - Important note: 
Defining a font-size in pixels per @media you control the font-size in each type of 
screen (by default the browser gives 16px size).
Then using em you increase or decrease proportionally to the defined font-size/@media
the tags (h, p, a, li, ...)
*/

/* reset */
body,p,a,ul,li{
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* font-size: 32px; AMN - the browser default font-size is 16px. We can change it here. */
}
li{
  list-style-type: none;
}

/* base styles */
body{
  background: var(--secondary);
  overflow-x: hidden;
  font-family: 'Rubik Regular';
}
.button{
  background: none;
  border: 2px solid var(--primary);
  color: var(--primary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0,0,0,0.6);
  display: inline-block;
  font-size: 1em;
}
.button:hover{
  color: #222;
  background: var(--primary);
}
input,textarea{
  background: rgba(255,255,255,0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid #9893D8;
  color: #f2f2f2;
  font-size: 1em;
}

/* fonts */
/* AMN - From google fonts you can get several types of fonts */
@font-face {
  font-family: 'Rubik Regular'; /* Name of the font on the CSS - name it as we want to */
  src: url("assets/fonts/Rubik-Regular.ttf") format("truetype"); /* We downloaded and upload in assets */
}
h1,h2,h3,h4{
  color: #DDDBFF;
  font-weight: normal;
  line-height: 1.4em;
}
p,a,li{
  color: #9893D8;
  line-height: 1.4em;
  font-size: 1em; /* em is a unit to measure based in the default browser pixels characters (16 px for a char) and multiplies by 1 */
}
h1, h3{
  font-size: 1.2em;
}
h2{
  font-size: 1.6em;
}
h4{
  font-size: 1.1em;
}
.leading{
  font-size: 1.1em;
}

/* mobile styles */

/* small tablet styles */
@media screen and (min-width: 620px){

}

/* large tablet & laptop styles */
@media screen and (min-width: 960px){

  body{
    font-size: 18px; /* We increment the font-size for laptops fron 16ox (default browser) to 18px */
  }

}

/* desktop styles */
@media screen and (min-width: 1200px){

  body{
    font-size: 20px; /* We increase the font-size for desktops from 16px (default browser) to 20px */
  }

}